*{
    margin: 0 !important;
    padding: 0;
}
body{
    font-family: 'Mukta', sans-serif;
    width: 100%;
}

/*----------------main heading----------------*/

.main-logo img{
    height: 40px;
    padding-left: 30px;

}
.brand-name{
    font-family: 'Mukta', sans-serif;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}
.brand a{
    text-decoration: none;
    color: black;
}
.brand a:hover{
    color:rgb(110, 107, 107) ;
}
.logos a:hover{
    color:rgb(110, 107, 107) ;
}
.social-logo{
    color: black;
    padding-left: 30px;

}



/*------------nav-bar section---------------*/



.navbar{
 
    
}
.navbar-nav li{
    padding: 0 20px;
}
.nav-link{
    font-family:'Mukta', sans-serif ;
    text-transform: uppercase;
    color: black;  
}




/*------------carosel-section--------*/


.carousel{
    width: 96%;
    padding-left: 4%;
      
  }




/*--------------about-section-----------*/

.about-section{
    width: 100%;
    padding-bottom: 20px;
}

.about-section h3{
    padding-top: 60px;
    font-weight:700;
}
.about-section h4{
    padding-top: 30px;

}
.about-section p{
    padding-top: 20px;
    padding-bottom: 20px;
}




/*--------------work-section-----------*/

#work-section-id{
    margin-left: 50px;
    padding-top: 80px;
}
.work-section h3{
    padding-top: 60px;
    font-weight:700;
}
.service-box{
    padding-top: 40px;
}
.service-box2{
    padding-top: 40px;
}
.service-box img{
    padding-top: 40px;
    height: 450px;
    width: 400px;
}
.service-box2 img{ 
    padding-top: 40px;
    height: 450px;
    width: 400px;
}
.seemore-btn{
    padding-top: 50px;
    padding-bottom: 40px;
}


/*---------------contact-section------------*/

#contact-section-id{
    padding-top: 40px;
    
}
.contact-icons{
    padding-bottom: 70px;
}
.contact-section h3{
    padding-top: 60px;
    font-weight:700;
    padding-bottom: 20px;
}
.contact-logo{
    font-size: 25px;
   color: black;
   padding: 10px;
  
}
.contact-logo:hover{
    font-size: 26px;
    color:rgb(110, 107, 107);
}


/*---------------instagram-handle------------*/

.instagram-handle{
    font-family: muk;
    font-size: 25px;
   color: black;
   padding: 10px;
   padding-right: 20px;
   padding-bottom: 80px;
}
.instagram-handle:hover{
    
    color:rgb(110, 107, 107);
}

/*---------------instagram-photos------------*/

.bottom-image img{
    width: 100%;
}
